<div class="mt-4 grid md:grid-cols-4 gap-4">
  <% Featured.auto_show.bottom.each do |featured| %>
    <div class="overflow-hidden gap-4 grid h-fit px-2 md:px-0">
      <div class="text-lg rounded-full flex items-center gap-2">
        <span class="material-icons material-symbols-rounded text-link">
          radio_button_checked
        </span>
        <span class="font-bold text-base text-link uppercase">
          <%= featured.title %>
        </span>
      </div>
      <div class="text-secondary">
        <div class="ml-2.5 pl-4 border-l-2 border-link-disabled">
          <%= featured.content.body %>
        </div>
      </div>
    </div>
  <% end %>

  <%= render Home::TrendsComponent.new(trends: Featured.trending.top) %>
</div>
