<div class="mt-4 grid md:grid-cols-4 md:gap-4 gap-12">
  <% Featured.auto_show.bottom.each do |featured| %>
    <%= render Home::AutoShowComponent.new(featured: featured) %>
  <% end %>

  <%= render Home::TrendsComponent.new(trends: Featured.trending.top) %>
</div>
