<div class="overflow-hidden gap-4 grid h-fit sm:px-2 px-4 md:px-0">
  <div class="text-lg rounded-full flex items-center gap-2 hidden sm:flex">
    <span class="relative flex h-3 w-3 ml-1.5">
      <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-[#dc2626] opacity-75"></span>
      <span class="relative inline-flex rounded-full h-3 w-3 bg-trend"></span>
    </span>
    <span class="font-bold text-base text-trend uppercase">
      Trending
    </span>
  </div>

  <div class="block sm:hidden">
    <div class="font-bold text-base text-trend uppercase">
      Trending
    </div>
    <hr class="border-trend mt-2">
  </div>

  <div class="sm:ml-2.5 sm:pl-4 sm:border-l-2 sm:border-trend-disabled grid gap-4">
    <% trends.each_with_index do |featured, index| %>
      <% if index > 0 %><hr class="text-gray-200" ><% end %>
      <%= render Home::TrendItemComponent.new(article: featured.article) %>
    <% end %>
  </div>
</div>
