<h3 class="text-xl mt-10">Menu bên phải logo</h3>
<hr class="mt-2" />
<%= render Admin::MenusComponent.new(menus: Menu.right_of_logo.bottom.includes(:article), kind: :right_of_logo) %>

<h3 class="text-xl mt-10">Menu ở dưới logo</h3>
<hr class="mt-2" />
<%= render Admin::MenusComponent.new(menus: Menu.below_of_logo.bottom.includes(:article), kind: :below_of_logo) %>

<h3 class="text-xl mt-10">3 Bài viết chính hiện trên trang chủ</h3>
<hr class="mt-2" />
<%= render Admin::FeaturedsComponent.new(featureds: Featured.auto_show.bottom.includes(:article), kind: :auto_show) %>
