
<h3 class="text-xl">Menu</h3>
<hr class="mt-2" />
<%= render Admin::FeatureMenusComponent.new(featured_menus: @featured_menus) %>

<h3 class="text-xl mt-10">Menu</h3>
<hr class="mt-2" />
<%= render Admin::FeatureArticlesComponent.new(featured_articles: @featured_articles) %>
