<header class="shadow-md sm:shadow-none sm:py-3 sm:px-0 px-3 py-1">
  <div class="flex items-center">
    <div class="flex-none">
      <%= image_tag '/logo.png', class: 'w-[200px]' %>
    </div>
    <div class="grow flex gap-4 justify-end">
      <%= link_to 'Chỉnh Trang chủ', admin_home_index_path, class: 'menu-item' %>
      <%= link_to 'Các bài viết', admin_articles_path, class: 'menu-item' %>
    </div>
  </div>
</header>
